@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>You can find any movie in the 'VERSE here! Classic BratPack movie? Totally got it. Slasher flick huntings your dreams? They're Heeerrre. Prefer your movies shaken, not stirred? Got you covered Mr. Bond.</p>
<p>Feel like binge watching brave people explore the far reaches of the galaxy? We'll make it so. Like explosions and hard boiled cops? Yippie Ki yay my friend, its here.</p>
<p>We're a pretty big deal in the resistance. Give us a shot.</p>
