@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
        <h1>Nostalgia Buster</h1><
        
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pick Your Movie</h2>
        <p>
            From 8mm Film Reels to 4K Blueray, we have it all!
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Rent Movie &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Return Your Movie</h2>
        <p>If you have one of our classics, say a Film Reel, VHS, etc, please be kind and rewind. DVD, HDVD, or Blueray? Please try not to scratch/break the disc.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Return Movie &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Overdue/Missing Movies</h2>
        <p>What's late coming back or grew legs.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">What's Missing &raquo;</a></p>
    </div>
</div>